<ng-container *ngIf="supported | async; else notSupported">
    <button class="stroked-button" mat-stroked-button *ngIf="(service.connected$ | async); else notConnected" mat-button
        (click)="service.reconnect().subscribe()">
        <mat-icon>public</mat-icon>
        {{networkName()}}
        <mat-icon>account_balance_wallet</mat-icon>
        {{service.wallet()}}
    </button>
</ng-container>

<ng-template #notSupported>
    <button mat-raised-button color="warn" style="pointer-events: none;">
        MetaMask Not Found
    </button>
</ng-template>
<ng-template #notConnected>
    <button mat-raised-button color="accent" (click)="service.connect().subscribe()">
        Connect To MetaMask
    </button>
</ng-template>