<h2 >Start game at position</h2>
<mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
        <mat-form-field style="width: 100px;">
            <mat-label>X</mat-label>
            <input matInput [(ngModel)]="position.x" type="number" />
        </mat-form-field>
        <mat-form-field style="width: 100px;">
            <mat-label>Y</mat-label>
            <input matInput [(ngModel)]="position.y" type="number" />
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button tabindex="-1" mat-stroked-button (click)="cancel()">CANCEL</button>
    <button [disabled]="!positionValid()" mat-raised-button color="primary" (click)="start()">
        START
    </button>
</mat-dialog-actions>