.root {
    width: 50em;
    height: 20em;

    ::ng-deep .mat-horizontal-stepper-header {
        pointer-events: none !important;
    }

    ::ng-deep .mat-horizontal-content-container {
        padding: 16px;
    }
}

.form {
    width: 100%;
}

.form__field {
    width: 100%;
}

.prevNavigationButton {
    margin: 16px 16px 0 0;
}

.nextNavigationButton {
    margin: 16px 0 0 16px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}
