.root {
    width: 55em;
    height: 25em;

    ::ng-deep .mat-horizontal-stepper-header {
        pointer-events: none !important;
    }

    ::ng-deep .mat-horizontal-content-container {
        padding: 16px;
    }
}

.form {
    width: 100%;
}

.form__field {
    width: 100%;
}

.prevNavigationButton {
    margin: 16px 16px 0 0;
}

.nextNavigationButton {
    margin: 16px 0 0 16px;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 0.5em;
}

.loading-inputs {
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-weight: 500;
    color: #737373;
}
