.content {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

::ng-deep .mat-menu-panel {
    max-width: none !important;
}

.toolbar {
    background-color: var(--background-color);
    padding: 0 0.6em 0 0.6em;

    button {
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
