.content {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

mat-toolbar {
    button {
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

::ng-deep .mat-menu-panel {
    max-width: none !important;
}
