@use '@angular/material' as mat;
// regular style toast
@import '~ngx-toastr/toastr';
@import "~prismjs/themes/prism-coy.css";

@include mat.core();

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme($primary, $accent, $warn);
@include mat.all-component-themes($theme);

:root {
    --accent-color: #{mat.get-color-from-palette($accent, default)};
    --primary-color: #{mat.get-color-from-palette($primary, default)};
    --primary-contrast-color: #{mat.get-color-from-palette($primary, default-contrast)};
    --accent-contrast-color: #{mat.get-color-from-palette($primary, default-contrast)};
}

$pink-palette: mat.define-palette(mat.$pink-palette);
$indigo-palette: mat.define-palette(mat.$indigo-palette);
$orange-palette: mat.define-palette(mat.$blue-palette);

//.dark-background {
//    background: #424242;
//}

.pink {
    background-color: mat.get-color-from-palette($pink-palette, default);
    color: mat.get-color-from-palette($pink-palette, default-contrast);
}

.indigo {
    background-color: mat.get-color-from-palette($indigo-palette, default);
    color: mat.get-color-from-palette($indigo-palette, default-contrast);
}

.orange {
    background-color: mat.get-color-from-palette($orange-palette, default);
    color: mat.get-color-from-palette($orange-palette, default-contrast);
}

.primary {
    background-color: mat.get-color-from-palette($primary, default);
    color: mat.get-color-from-palette($primary, default-contrast);
}

.accent {
    background-color: mat.get-color-from-palette($accent, default);
    color: mat.get-color-from-palette($accent, default-contrast);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.page-content {
    margin-top: 4rem !important;
    max-width: 100%;
    width: fit-content;
    margin: auto;
    display: grid;
}

.full-content {
    width: 100vw;
    height: calc(100vh - 56px);
}

.loading-panel {
    z-index: 2000;
}

.loading-back-drop {
    z-index: 1999;
}

