@use '@angular/material' as mat;
// regular style toast
@import '~ngx-toastr/toastr';
@import "~prismjs/themes/prism-dark.css";

$pink-palette: mat.define-palette(mat.$pink-palette);
$indigo-palette: mat.define-palette(mat.$indigo-palette);
$orange-palette: mat.define-palette(mat.$blue-palette);

.pink {
    background-color: mat.get-color-from-palette($pink-palette, default);
    color: mat.get-color-from-palette($pink-palette, default-contrast);
}

.indigo {
    background-color: mat.get-color-from-palette($indigo-palette, default);
    color: mat.get-color-from-palette($indigo-palette, default-contrast);
}

.orange {
    background-color: mat.get-color-from-palette($orange-palette, default);
    color: mat.get-color-from-palette($orange-palette, default-contrast);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-content {
    width: 100%;
    display: grid;
    background-color: var(--background-color);
    height: calc(100vh - 50px);
}

.full-content {
    background-color: var(--background-color);
    width: 100vw;
    height: 100%;
}

.loading-panel {
    z-index: 2000;
}

.loading-back-drop {
    z-index: 1999;
}

.transparent-backdrop {
    background-color: transparent;
}

.full-width {
    width: 100%;
}
