<mat-card class="page-content">
    <mat-card-content>
        <h2>Port lands from source network to target network</h2>
    </mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
        <mat-form-field>
            <mat-label>Source Network</mat-label>
            <mat-select [(value)]="selectedNetworkId">
                <mat-option *ngFor="let source of sourceNetworks" [value]="source.networkId">
                    {{ source.networkName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Target/Current Network </mat-label>
            <mat-select [(value)]="networkName" [disabled]="true">
                <mat-option [value]="networkName">
                    {{ networkName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="getPrices()">
                Get Prices
            </button>
        </mat-card-actions>
    </div>
    <div *ngIf="landPrices.length != 0">
        <div style="max-height: 25rem;overflow: auto;overflow-x: hidden;" class="mat-elevation-z1">
            <table mat-table [dataSource]="landPrices">
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <ng-container matColumnDef="x1">
                    <th mat-header-cell *matHeaderCellDef>x1</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.land.x1 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="y1">
                    <th mat-header-cell *matHeaderCellDef>y1</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.land.y1 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="x2">
                    <th mat-header-cell *matHeaderCellDef>x2</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.land.x2 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="y2">
                    <th mat-header-cell *matHeaderCellDef>y2</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.land.y2 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="row-content" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
            <mat-card-content>
                Total Price (without gas fee): <b>{{ totalPrice() }}</b>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="port()">
                    Start Transaction
                </button>
            </mat-card-actions>
        </div>
    </div>
</mat-card>