mat-card {
    height: 10rem;
    cursor: pointer;
    mat-card-content {
        flex: 1 1 auto;
        mat-icon {
            font-size: 5rem;
            width: 5rem;
            height: 5rem;
        }
    }
}
