mat-card {
    height: 10rem;
    cursor: pointer;
    width: 100%;

    mat-card-content {
        flex: 1 1 auto;

        mat-icon {
            font-size: 5rem;
            width: 5rem;
            height: 5rem;
        }
    }
}

.logo {
    aspect-ratio: 1/1;
}

.main-menu {
    margin: 0 4em 0 4em;
}
