.link-form {
    width: 100%;
}

.field {
    width: 100%;
}

.add-link-button {
    width: 100%;
}

.profile-image {
    aspect-ratio: 1 / 1;
    max-width: 200px;
    width: auto;
    height: auto;
    border-radius: 4px;
}

.file-input {
    display: none;
}

.file-input-label {
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 175px;
    padding: 0.3em;
    text-align: center;
}
